*{
  padding:0;
  margin:0;
}
section{
  width:100%;
  margin-top:150px;
}
#artists>.title{
  width:1200px;
  height:34px;
  margin:0 auto;
  padding:0 8px;
  border-bottom:1px solid #b2b2b2;
}
.title>ul{
  display:flex;
  list-style:none;
  justify-content: space-between;
}
.title>ul>li:last-child>a{
  text-decoration:none;
  display:inline-block;
  height:34px;
  width:90px;
  text-align:center;
  line-height:34px;
  color:#b2b2b2;
  font-size:14px;
}
.title>ul>li:last-child>a:hover{
  color:#9fd9f6;
}
#artists>.style{
  padding-top:20px;
  width:1200px;
  height:80px;
  line-height:80px;
  margin:0 auto;
  padding:0 8px;
}
#artists>.style>ul{
  list-style:none;
  display:flex;
  justify-content: space-around;
}
#artists>.style>ul>li>a{
  text-decoration:none;
  color:#b2b2b2;
  font-size:15px;
}
#artists>.style>ul>li:first-child>a{
  color:#f00;
}
#artists>.style>ul>li>a:hover{
  color:rgba(23, 162, 184,0.9);
}
#artists>.artList{
  width:1200px;
  height:1400px;
  margin:0 auto;
  padding:0 8px;
}
#artists>.artList>.artFloor{
  margin-top:20px;
}
/* 艺人列表样式 */
#artists>.artList>.artFloor>ul{
  display:flex;
  justify-content:space-between;
  list-style:none;
}
#artists>.artList>.artFloor>ul>li>a{
  display:block;
}
/* 艺人图片样式 */
#artists>.artList>.artFloor>ul>li>a>img{
  width:280px;
  height:210px;
}
#artists>.artList>.artFloor>ul>li>a:last-child{
  margin-top:10px;
  width:280px;
  height:30px;
  /* border:1px solid #f00; */
  line-height:30px;
  text-align:center;
  font-size:14px;
  color:#000;
  /* background-color:rgba(23, 163, 184, 0.932);
  border-radius:20px; */
  text-decoration:none;
}
#artists>.artList>.artFloor>ul>li>a:last-child:hover{
  color:rgba(23, 162, 184,0.9);
}
.paging{
  margin-top:80px;
  width:1200px;
  height:34px;
  text-align:center;
}
.paging>a{
  /* display:inline-block; */
  margin-left:40px;
  text-decoration:none;
  color:#b2b2b2;
  font-size:20px;
}
.paging>a:nth-child(3){
  color:rgba(23, 162, 184,0.9);
}