header{
  font-family:Tahoma, "Microsoft Yahei", 微软雅黑, 宋体, 黑体, Arial, Helvetica, STHeiti;
  width:100%;
  position: fixed;
  top:0;
  z-index:1;
  background-color:rgba(23, 163, 184, 0.932);
}
#header1{
  width:1200px;
  height:60px;
  line-height:60px;
  margin:0 auto;
}
#header1 a{
  display:inline-block;
  text-decoration:none;
  color:#fff;
}
#header1 a:hover{
  color:#f54747;
}
#header1>div{
  height:60px;
  float:left;
  line-height:60px;
}
#header1>div::after{
  content: "";
  display:block;
  clear: both;
} 
.logo>a{
  display:inline-block;
  height:60px;
  line-height:60px;
}
.logo>a>img{
  align-items: center;
  height:40px;
}
.city-title{
  color:#fff;
}
.city{
  margin-left:40px;
  width:150px;
}
.city>div{
  float:left;
}
.size{
  font-size:14px;
}
.city>div.city-select{
  margin-left:10px;
}
.city>div.city-select>a>i{
  /* position:absolute; */
  display: inline-block;
  background-image: url("../image/index/icon.png");
  background-position: -73px -901px;
  width: 12px;
  height: 15px;
}
.city-select>.over{
  display:none;
  position:absolute;
  top:45px;
  width:0px;
  height:0px;
  background-color: #fff;
  /* border-top:1px solid red; */
  transition:1.5s;
}
.city-select:hover>.over{
  display:block;
  height:120px;
  width:412px;
  border:1px solid red;
}
.city-select>.over>ul>li>a{
  color:#2d2d2d;
}
#header1>.list{
  width:420;
  margin-left:20px;
}
ul{
  list-style:none;
  display:flex;
}
.list>ul>li>a{
  margin-left:10px;
  margin-right:10px;
  width:80px;
  text-align:center;
}
.list>ul>li:first-child>a{
  margin:0;
}
#header1>div.user{
  float:right;
}
.user>ul>li{
  margin-left:10px;
}
.user>ul>li>input{
  padding-left:10px;
  outline:none;
  width:180px;
  height:30px;
  border:0;
  border-radius:20px;
  font-size:12px;
}
