body{
  font: 13px/1.5 "Microsoft YaHei", 宋体;
  margin:0;
  padding:0;
}
section{
  width:100%;
  margin-top:60px;
}
/* section>#carousel>.carousel-inner>div>a{
  display:block;
} */
section>.carousel>{
  margin-top:60px;
}
section>.carousel>.carousel-inner>.carousel-item>a>img{
  width:100%;
}
section>.carousel>.carousel-inner>.carousel-item>a:last-child{
  display:block;
  width:100%;
  height:50px;
  color:#fff;
  text-align:center;
  font-size:15px;
  line-height:50px;
  text-decoration:none;
  background-color:#f68cc6;
}
section>.carousel>.carousel-inner>.carousel-item:nth-child(2)>a:last-child{
  background-color:#fa9c77;
}
section>.carousel>.carousel-inner>.carousel-item:nth-child(3)>a:last-child{
  background-color:#ba4b5d;
}
section>.carousel>.carousel-inner>.carousel-item:nth-child(4)>a:last-child{
  background-color:#02c0f0f5;
}
section>.carousel>.carousel-inner>.carousel-item:nth-child(5)>a:last-child{
  background-color:#bc76dd;
}
section>.carousel>.carousel-inner>.carousel-item:nth-child(6)>a:last-child{
  background-color:#539788;
}
section>.carousel>.carousel-inner>.carousel-item:nth-child(7)>a:last-child{
  background-color:#c67ee79b;
}
section>.carousel>.carousel-inner>.carousel-item:nth-child(8)>a:last-child{
  background-color:#2f49079b;
}

/*重写指示符的样式*/
.carousel-indicators li{
  width:15px;height:15px;
  background-color:#fff;
  margin-left:6px;
  margin-right:6px;
  border-radius: 50%;
  top:60px;
}
.carousel-indicators>li:first-child{
  background-color:#f68cc6;
}
.carousel-indicators>li:nth-child(2){
  background-color:#fa9c77;
}
.carousel-indicators>li:nth-child(3){
  background-color:#ba4b5d;
}
.carousel-indicators>li:nth-child(4){
  background-color:#02c0f0f5;
}
.carousel-indicators>li:nth-child(5){
  background-color:#bc76dd;
}
.carousel-indicators>li:nth-child(6){
  background-color:#539788;
}
.carousel-indicators>li:nth-child(7){
  background-color:#c67ee79b;
}
.carousel-indicators>li:nth-child(8){
  background-color:#2f49079b;
}
/*重写左右箭头的样式*/
.carousel-control-prev,
.carousel-control-next{
  width:40px;height:100px;
  /* background-color:rgba(95, 95, 92, 0.3); */
  top:20%;
  margin-left:40px;
  border-radius:0.25rem;
}
.carousel-control-next{
  margin-right:40px;
}
/*演出列表样式 */
section>div{
  width:1200px;
  margin:60px auto 0; 
}
section>div.carousel{
  width:100%;
}
/* 一楼样式 */
.firstFloor{
  display:flex;
  justify-content: space-between;
  height:376px;
  margin-bottom:100px;
}
.firstFloor>.upcoming{
  width:810px;
  /* border:1px solid #f00; */
}
.firstFloor>.showCalendar{
  width:388px;
  /* border:1px solid #f00; */
}
/* .firstFloor>.upcoming>.titleBar>*/h2{ 
  color:#666666;
  font-size:20px;
}
.firstFloor>.upcoming>.titleBar{
  display:flex;
  height:30px;
}
.firstFloor>.upcoming>.titleBar>i{
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 24px;
  background: url("../image/index/icon.png") -239px -117px no-repeat;
  margin: 0px 5px;
}
.firstFloor>.upcoming>.titleBar>a{
  /* display:inline-block;
  height:30px; */
  text-decoration:none;
  font-size: 14px;
  color: #e72f2f;
  line-height: 30px;
  /* margin-top:0px; */
}
.firstFloor>.upcoming>.upcomingList{
  margin-top:20px;
}
.firstFloor>.upcoming>.upcomingList:after {
  content: " ";
  display: block;
  /* height: 0; */
  clear: both;
  /* visibility: hidden;
  line-height: 0; */
}
.firstFloor>.upcoming>.upcomingList>a{
  text-decoration: none;
  color: #666;
  outline: 0;
}
.firstFloor>.upcoming>.upcomingList>a{
  text-decoration:none;
  float: left;
  border: 1px #eee solid;
  padding: 10px;
  width: 192px;
  height: 323px;
  font-size: 12px;
  margin-right: 10px;
  color: #666;
}
.showImg{
  position:relative;
}
.showImg>img {
  max-width: 100%;
  height: 200px;
  vertical-align: middle;
  border: 0;
}
.upcomingList>a>p{
  margin:0;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.upcomingList>a>p.showTitle{
  font-size: 14px;
  margin-top:5px;
}
.upcomingList>a>p.showPrice{
  font-size: 14px;
  color: #e72f2f;
  margin-top:10px;
}
.upcomingList>a>p.showTime{
  margin-top:10px;
}
.upcomingList>a>p.site{
  margin-top:0px;
}
.upcomingList>a>p.showTime:hover,.upcomingList>a>p.site:hover{
  color:#e72f2f;
}
/* 演出日历 */
/* 日历标题 */
.showCalendar>.calendarHead{
  height:50px;
  border:1px solid #f00;
  display:flex;
  justify-content: space-between;
}
.showCalendar>.calendarHead>.calendarTitle{
  width:150px;
}
span.year,span.month{
  display:inline-block;
  font-size:18px;
  color:#666666;
  vertical-align: middle;
}
.showCalendar>.calendarHead>.calendarDate{
  border: 1px #fff solid;
  padding: 0 10px; 
  margin: -1px -11px;
  /* border-bottom: 1px #eee solid; */
  overflow: hidden;
}
.showCalendar>.calendarHead>.calendarDate>.calendarYear>span.leftShift{
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  background-image: url("../image/index/droll-icon.png");
  background-position: -126px 0px;
  cursor: pointer;
}
.showCalendar>.calendarHead>.calendarDate>.calendarYear>span.rightShift{
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  background-image: url("../image/index/droll-icon.png");
  background-position: -127px -39px;
  cursor: pointer;
}
/*.showCalendar td{
  text-align:center;
  line-height:52px;
}*/
/* 日历主体 */
.calendarMain{
  padding:0 10px;
  width:100%;
  height:323px;
  border:1px solid #eee;
}
/* 星期头 */
.weekHead{
  width:100%;
  height:52px;
  border-bottom:1px solid #eee;
}
.weekHead>td{
  width:52px;
  height:52px;
  text-align:center;
  line-height:52px;
}
/*.showCalendar table{
  width:100%;
  color:#333;
  border-collapse: separate;
  border-spacing: 2px;
}
.showCalendar table>tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
.showCalendar table>tbody>tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
.showCalendar .weekHead td {
  border-bottom: 1px #eee solid;
  padding: 16px 0;
  text-align: center;
}*/
/*.dateTd span{
  display:none;
}
.calendarMain tr td>div{
  width:52px;
  height:45px;
  line-height:45px;
}
.calendarMain tr td>div>i{
  font: 13px/1.5 'Microsoft YaHei',"\5b8b\4f53";
}
.weekHead{
  width:368px;
  height:52px;
}*/