section{
  margin-top:100px;
  width:100%;
  margin-bottom:150px;
}
#recordsDtails{
  width:1200px;
  margin:0 auto;
  display:flex;
  justify-content:space-between;
}
#recordsDtails>.recommended{
  width:240px;
}
#recordsDtails>.recommended>.recommendedTitle{
  padding:0 8px;
  border-bottom:1px solid #b2b2b2;
}
#recordsDtails>.recommended>.recommendList{
  padding:0px 10px 0;
  border-bottom:1px solid #b2b2b2;
}
#recordsDtails>.recommended>.recommendList>ul{
  list-style:none;
}
#recordsDtails>.recommended>.recommendList>ul>li{
  margin-top:20px;
}
#recordsDtails>.recommended>.recommendList>ul>li>a>img{
  width:220px;
  height:220px;
}
#recordsDtails>.recommended>.recommendList>ul>li>p{
  color:#555555;
  font-size:14px;
}
#recordsDtails>.recommended>.recommendList>ul>li>p:last-child{
  color:rgba(23, 162, 184,0.9);
}
#recordsDtails>.info{
  width:880px;
}
#recordsDtails>.info>.infoTitle{
  padding:0 8px;
  border-bottom:1px solid #b2b2b2;
}
#recordsDtails>.info>.recordsInfo{
  padding:0 20px;
  margin-top:20px;
  display:flex;
  justify-content:space-between;
}
#recordsDtails>.info>.recordsInfo>.firstLeft>div>img{
  width:270px;
  height:270px;
}
#recordsDtails>.info>.recordsInfo>.firstLeft>div:nth-child(2)>a{
  display:inline-block;
  height:62px;
  width:62px;
}
#recordsDtails>.info>.recordsInfo>.firstLeft>div:nth-child(2)>a>img{
  height:62px;
  width:62px;
}
#recordsDtails>.info>.recordsInfo>.firstRight{
  width:535px;
  height:300px;
}
#recordsDtails>.info>.recordsInfo>.firstRight>div{
  display:inline-block;
  height:28px;
  line-height:28px;
  margin-top:10px;
}
#recordsDtails>.info>.recordsInfo>.firstRight>div.list{
  width:45px;
  color:#b2b2b2;
  font-size:12px;
}
#recordsDtails>.info>.recordsInfo>.firstRight>div.moreList{
  width:210px;
  color:#555555;
  font-size:12px;
}
/* 价格样式 */
#recordsDtails>.info>.recordsInfo>.firstRight>div:nth-child(3){
  color:#f83e3e;
  font-size:30px;
  font-weight:bold;
  margin-bottom:20px;
}
#recordsDtails>.info>.recordsInfo>.firstRight>a{
  text-decoration:none;
  margin-top:20px;
  display:block;
  color:#fff;
  background:#f83e3e;
  width:200px;
  height:40px;
  font-size:18px;
  font-weight:bold;
  text-align:center;
  line-height:40px;
  border-radius:2px;
}
#recordsDtails>.info>.recordsInfo>.firstRight>div>button{
  width:30px;
  height:30px;
  color:#fff;
  font-size:18px;
  line-height:30px;
  text-align:center;
  background:#A0A0A0;
}
#recordsDtails>.info>.recordsInfo>.firstRight>div>span{
  display:inline-block;
  width:42px;
  height:28px;
  text-align: center;
  line-height:28px;
  /* border-top:1px solid #A0A0A0;
  border-bottom:1px solid #A0A0A0; */
}
#recordsDtails>.info>.recordsInfo>.firstRight>div>button:focus{
  outline-style: none;
}
#recordsDtails>.info>.recordsInfo>.firstRight>div.blue>span{
  display:inline-block;
  width:60px;
  height:28px;
  background:rgba(23, 162, 184,0.9);
  color:#fff;
} 
#recordsDtails>.info>.secondAlbum>div.albumTitle{
  padding:0 8px;
  border-bottom:1px solid #b2b2b2;
} 
 #recordsDtails>.info>.secondAlbum>.albumList{
  position:relative;
  height:170px;
  height:170px;
  line-height:170px;
}
#recordsDtails>.info>.secondAlbum>.albumList>a{
  display:inline-block;
  text-decoration:none;
  color:#b2b2b2;
  font-size:50px;
}
#recordsDtails>.info>.secondAlbum>.albumList>a:first-child{
  width:30px;
  height:30px;
  float:left;
}
#recordsDtails>.info>.secondAlbum>.albumList>a:last-child{
  width:30px;
  height:30px;
  float:right;
}
#recordsDtails>.info>.description{
  margin-top:60px;
  padding-bottom:50px;
  clear:both;
  border-bottom:1px solid #b2b2b2;
}
#recordsDtails>.info>.description>.desTitle{
  padding:0 8px;
  border-bottom:1px solid #b2b2b2;
}
#recordsDtails>.info>.description>.desList{
  padding:20px;
}
#recordsDtails>.info>.description>.desList>.beforeBuy{
  padding-bottom:20px;
  width:300px;
  border-bottom:1px dotted #b2b2b2;
  color:#b2b2b2;
  font-size:12px;
}
#recordsDtails>.info>.description>.desList>.beforeBuy>h5{
  color:#000;
}
#recordsDtails>.info>.description>.desList>.desDetails{
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-top:50px;
  color:#555555;
  font-size:12px;
}
#recordsDtails>.info>.description>.desList>.desDetails>pre>span{
  color:#f83e3e;
}
#recordsDtails>.info>.description>.desList>.desDetails>h5{
  margin-bottom:20px;
}