*{
  padding:0;
  margin:0;
}
section{
  width:100%;
  margin-top:150px;
}
/* 唱片title */
#records>.title{
  width:1200px;
  height:34px;
  margin:0 auto;
  padding:0 8px;
  border-bottom:1px solid #b2b2b2;
}
.title>ul{
  display:flex;
  list-style:none;
  justify-content: space-between;
}
.title>ul>li:last-child>a{
  display:inline-block;
  height:34px;
  width:90px;
  text-align:center;
  line-height:34px;
  border:1px solid #b2b2b2;
}
#records>.recordsList{
  width:1200px;
  height:1200px;
  margin:0 auto;
  padding:0 8px;
}
#records>.recordsList>div{
  margin-top:20px;
}
#records>.recordsList>div>ul{
  display:flex;
  justify-content: space-around;
  list-style:none;
}
/* 专辑图片 */
#records>.recordsList>div>ul>li>a{
  text-decoration:none;
  display:block;
  width:220px;
}
#records>.recordsList>div>ul>li>a:first-child{
  width:220px;
  height:220px;
  text-align:center;
  line-height:220px;
  padding:10px;
}
#records>.recordsList>div>ul>li>a:first-child:hover{
  border:1px solid rgba(23, 162, 184,0.9);
}
#records>.recordsList>div>ul>li>{
  width:220px;
  height:280px;
}
#records>.recordsList>div>ul>li>a>img{
  width:220px;
  height:220px;
}
/* 专辑标题 */
#records>.recordsList>div>ul>li>a:nth-child(2){
  margin:5px 0 0 10px;
  height:17px;
  color:#000;
  font-size:14px;
  /* 标题溢出隐藏，显示点点 */
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* 专辑价格 */
#records>.recordsList>div>ul>li>a:last-child{
  margin-left:10px;
  margin-top:5px;
  height:17px;
  color:rgba(23, 162, 184,0.9);
  font-size:14px;
}
/* 分页 */
#records>.recordsList>.paging{
  margin-top:80px;
  width:1200px;
  height:34px;
  text-align:center;
}
#records>.recordsList>.paging>a{
  /* display:inline-block; */
  margin-left:40px;
  text-decoration:none;
  color:#b2b2b2;
  font-size:20px;
}
#records>.recordsList>.paging>a:nth-child(3){
  color:rgba(23, 162, 184,0.9);
}